{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{{  asset('build/style.css') }}">
{% endblock %}

{% block title %}Просмотр новости{% endblock %}

{% block body %}
    <div class="content">
        <div id="root" data-news-item="{{newsItem}}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/NewsItemPage.js') }}"></script>
{% endblock %}
